<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Live에 대해</title>
    <link rel="stylesheet" href="./artist.css">
    <link rel="stylesheet" href="../Main/banner/banner.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <br><br>
    <div>
        <header class="header">
            <nav class="main-nav">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png"alt="Logo" width="55" height="55">
                    </a>
                </div>
                <ul class="nav-items main-menu">
                    <li class="nav-item"><a href="/artist">올리브 정책</a></li>
                    <li class="nav-item"><a href="https://www.designdb.com/usr/upload/board/zboardphotogallery176/20241204111727914_3119.0.pdf" target="_blank">올리브 신청</a></li>
                    <li class="nav-item"><a href="/map">올리브 위치</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="all-policy">
        <div>
            <nav class="menu-nav">
                <h1>All-Live 마켓</h1>
                <ul class="sidebar">
                    <li><a href="#What">사업 개요</a></li>
                    <li><a href="#back">추진 배경</a></li>
                    <li><a href="#content">추진 내용</a></li>
                    <li><a href="#future">향후 추진계획</a></li>
                </ul>
            </nav>
        </div>
        <div class="alllive-content">
            <a href="https://www.designdb.com/usr/upload/board/zboardphotogallery176/20241204111727914_3119.0.pdf" class="hero-link" target="_blank">
                <section>
                    <div>
                        <div>
                            <img src="/images/all-live-logo.png" alt="all-live Logo">
                            <h1>All-Live에 신청하러 가기</h1>
                        </div>
                    </div>
                </section>
            </a>
            <br><br>
            <div id="What">
                <h2>올리브 부산마켓 사업개요</h2>
                <p>
                    자활사업에 참여 중인 신중년 세대, 자활기업, 참여자, 우수 자활사업 참여자 등 50세~64세 참여자
                    1994명, 자활기업 참여자 227명
                    자활에 필요한 생필품, 식사, 서비스를 자활생산품/서비스로 지원
                    1인 최대 10만점 지원
                    자활사업단/기업의 자활생산품/서비스 구매용 포인트 지급
                </p>
            </div>
            <br>
            <hr style="font-size:bold;"/>
            <br>
            <div id="back">
                <h2>추진배경</h2>
                <p>
                    자활사업이란 사회적 경제적 심리적으로 어려움을 겪고 있는 저소득계층의 자활을 지원하는 사업이다.
                    단순 일자리를 제공하는 것을 넘어 참여자들의 자립 의지를 높이고 궁극적으로 탈빈곤, 탈수급 할 수 있도록
                    돕는 것이 목표이다.
                </p>
                <p>
                    최근 5년간 자활 사업 예산 증가율은 41.1%로 급증한 반면, 목표인 자립
                    성공률은 고작 24.8%에 불과하며 이마저도 매년 하락 추세이다.</p>
                <p>
                    저평가된 자활 이미지, 참여자 욕구를 제대로 반영하지 못한 사업 운영으로
                    자활 의지 부족 -> 빈곤 지속 -> 사회적 비용 급증 등 악순환이 심화되고 있어 실절적인 대책 마련이
                    절실하다.
                </p>
                <p>
                    자립의 어려움으로 부산은 2023년 기준 기초수급자 증가율 전국 1위, 수급률 2위를 기록하며
                    수급자수가 5년만에 36.1% 급증하고 있어 최소한의 안전망이 제대로 작동될 수 있도록 실질적 대책 마련이 절실하다
                </p> 
            </div>
            <br>
            <hr style="font-size:bold;"/>
            <br>
            <div id="content">
                <h2>추진내용</h2>
                <h3>1단계(이해하기) : 자활 사업 문제점 발견 및 현황 공유</h3>
                <p>
                    국민 디자인단 킥오프 회의
                </p>
                <p>
                    국민 디자인단 운영에 대한 참여자 교육 실시
                    팀 구성 및 오리엔테이션 진행, 프로젝트 계획 논의
                    현재 자활 사업 현황 분석 및 관계자 의견 수렴
                </p>
                <h3>2단계(발견하기) : 핵심수요자 발굴 및 심층리서치로 수요자 요구 파악</h3>
                <p>
                    정책 수요 발견을 위한 데스크 리서치 진행
                    프로젝트 리서치 방법 및 조사 목표 설정
                    문제 정의를 위한 핵심인 수요자에 대한 깊이 있는 리서치를 시간과 세심한 접근이 필요
                    심층 인터뷰를 통한 숨겨진 수요자의 요구 도출
                </p>
                <h3>3단계(정의하기) : 진짜 문제 발견하기</h3>
                <p>
                    저조한 근로 분위기, 단순 일자리, 낮은 급여라는 인식 때무에 의욕을 가지기 어려운 상황
                    발견한 문제점을 기회로 바꿀 수 있는 서비스 방향성 설정
                    자활사업의 강점 공공보조 및 지원을 활용하여 단순 일자리가 아니라 동기가 생성되도록 
                    노동에 대한 보상 및 보람이 적절하게 제공
                </p>
                <h3>4단계(발전하기) : 진짜 문제 해결 아이디어 발전하기</h3>
                <p>
                    H.M.W와 브레인 라이팅 기법을 활용하여 다양한 아이디어 도출
                    저 평가된 자활 이미지, 참여자 자활의지 부족의 문제점을 공공보조 및 지원을 활용하여
                    공공성을 띄는 사업모델로 발전하고 수혜자에서 공공서비스 제공자로 정신적 보상을 해주는 목표로 신뢰성을 제공
                </p>
                <h3>5단계(전달하기) : 정책서비스 프로토타이핑</h3>
                <p>
                    자활사업을 통해 단순히 참여자들만 수혜를 받는 것이 아닌, 이들이 공급자가 되어 지역 사회를
                    더욱 풍요롭게 만드는 역할을 하게 함.
                    자활사업은 모두 함께 잘 사는 부산을 만드는 정책이라는 의미를 담아 "올리브"로 리브랜딩
                </p>
                <img src="../images/ALL-Live.png" alt="All-live triangle">
            </div>
            <br>
            <hr style="font-size:bold;"/>
            <br>
            <div id="future">
                <h2>향후 추진계획</h2>
                <h4>예산확보</h4>
                <p>
                    2025년 본예산에 지역 특화 자활 사업비 1억원 편성 기요구,
                    중앙 공모사업비 2억원 추가 확보 예정
                </p>
                <h4>계획수립</h4>
                <p>
                    2025년 사업 추친 계획 수립 -> 16개 구군,센터 공문 시달
                </p>
                <h4>본격추친</h4>
                <p>
                    정부 정책과 연계하여 비즈니스 포트폴리오에 따라 성공모델 사업화 및 규모화 등 추진
                    참여기관 11개 센터에서 16개 센터로 확대
                    참여영역 병원안심동행에서 퇴원환자 안심 돌봄, 가사지원, 식사지원 사업 분야로 점차 확대
                </p>
                <h4>협업추진</h4>
                <p>
                    활발한 사업 추진을 위한 유관기관 협업 MOU 체결
                    자활 참여자들을 위한 공공복지,돌봄서비스 실무 메뉴얼 개발, 자활역량강화교육 등 협력
                </p>
                <h4>적극지원</h4>
                <p>
                    자활기금 활용하여 사업비, 인프라, 등 적극 지원
                </p>
                <h4>지속운영</h4>
                <p>
                    사업 활성화, 피드백을 위해 공공서비스디자인단 지속 운영
                </p>
                <h4>전국전파</h4>
                <p>
                    한국자활복지개발원, 전국 광역/지역 자활센터에 우수모델 및 우수사례 전파하여 전국적으로 사업화, 규모화 진행
                </p>
            </div>
        </div>
    </div>
    <a style="text-decoration-line: none;" 
        href="https://www.designdb.com/usr/upload/board/zboardphotogallery176/20241204111727914_3119.0.pdf" target="_blank">
        <button id="open-form-btn" >All-Live 신청하러가기</button>
    </a>
</body>
<footer>
    <p>&copy; 올리도 내 자부심! 올-리브(ALL-Live)</p>
</footer>
</html>
