<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Live올리브</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header class="header">
        <nav class="main-nav">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Logo" width="55" height="55">
                </a>
            </div>
            <ul class="nav-items main-menu">
                <li class="nav-item"><a href="/artist">올리브 정책</a></li>
                <li class="nav-item"><a href="https://www.designdb.com/usr/upload/board/zboardphotogallery176/20241204111727914_3119.0.pdf" target="_blank">올리브 신청</a></li>
                <li class="nav-item"><a href="/map">올리브 위치</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="image-div">
            <img src="/images/busanbridge.jpg" alt="busan main picture" class="main-image">
            <div class="image-text">Busan is Good</div>
        </div>
        
        <section class="faq">
            <div class="container">
                <h2>자주 묻는 질문</h2>
                <div class="faq-list">
                    <div class="faq-item">
                        <h3>누구나 다 올리브 마켓을 이용할 수 있나요?</h3>
                        <p>아니요. 자활사업에 참여 중인 신중년 세대, 자활기업 참여자, 우수 자활사업 참여자 등이 이용할 수 있습니다. </p>
                    </div>
                    <div class="faq-item">
                        <h3>자활 사업에 저도 참여할수 있을까요?</h3>
                        <p>국민 기초 생활 보장법상 근로 능력이 있는 저소득층이 신청할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
            <p>&copy; 올리도 내 자부심! 올-리브(ALL-Live)</p>
    </footer>
</div>
</body>
</html>
